.wrapper {

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  ". . title title . ."
  ". text text text text .";
    grid-gap: 20px;

  .title {
    grid-area: title;
  }

  .text {
    grid-area: text;
  }
}
