.borderActiveLevel{
  border-left: 1px solid #DFDFDF;
}

.firstLevelActive {
  svg {
    fill: var(--active);
  }
}

.firstLevelInactive {
  svg {
    fill: var(--sidenavInactive);
  }
}

.secondWrapper .borderActiveLevel {
  border-left: 1px solid #DFDFDF;
}
.sideBarWrapper{
  font-size: 14px;
  margin-left: 10px;
  svg{
    margin-right: 10px;
  }
  .firstLevelList {
    padding: 0;
    list-style: none;
    .sideBarLi{
      a{
        display: flex;
      }
    }

    .secondWrapper {
      margin-top: 5px;
      list-style: none;
      .borderActiveLevel{
        border-left: 1px solid #DFDFDF;
      }
      padding: 0;
      margin-left: 40px;
      .secondLevel {

        width: fit-content;
        padding-left: 5px;
        margin-bottom: 5px;
        display: flex;
        cursor: pointer;
        text-transform: uppercase;
        color: var(--gray-dark);
        background: none;
        .secondLevelActive {
          margin-left: 5px;
          color: var(--primary);
        }
      }
    }
    .thirdLevelWrapper{
      margin-top: 10px;
      margin-left: 12px;
      padding: 0 0 0 10px;
      .thirdLevel {
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
        color: var(--gray-dark);
        outline-offset: -1px;
        font-size: 14px;
      }
    }
  }
}












