.borderActiveLevel {
  border-left: 1px solid #DFDFDF;
}

.firstLevelActive {
  svg {
    fill: var(--active);
  }
}

.firstLevelInactive {
  svg {
    fill: var(--sidenavInactive);
  }
}

.sideBarWrapper {
  font-size: 16px;
  margin-left: 10px;

  svg {
    margin-right: 10px;
  }

  .firstLevelList {
    padding: 0;
    list-style: none;

    .firstLevelWrapper {
      .firstLevelName {
        position: relative;

        .firstLevelLink {
          position: absolute;
          height: 125%;
          width: 100%;
        }
      }

      .secondWrapper {
        margin-top: 5px;
        list-style: none;
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-left: 3rem;
        padding: 0 0 0 5px;
        @extend .borderActiveLevel;

        .secondLevelName {
          cursor: pointer;
        }

        .thirdLevelWrapper {
          .fourthLevelWrapper {
            position: relative;
            margin: 5px 0;
            width: fit-content;
            .fourthLevelLink{
              position: absolute;
              height: 100%;
              width: 100%;
            }
          }
          .pageLinkWrapper{
            
          }
        }
      }
    }
  }
}












