.borderActiveLevel {
  border-left: 1px solid #DFDFDF;
}

.borderInactiveLevel {
  border-left: none;
}

.firstLevelActive {
  svg {
    fill: var(--active);
  }
}
.firstLevelInactive {
  svg {
    fill: var(--sidenavInactive);
  }
}
.sideBarWrapper {
  font-size: 16px;
  margin-left: 10px;
  svg {
    margin-right: 10px;
  }
  .firstLevelList {
    padding: 0;
    list-style: none;

    .firstLevelWrapper {
      .firstLevelName {
        position: relative;
      }
      .secondWrapper {
        margin-top: 5px;
        list-style: none;
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-left: 3rem;
        padding: 0 0 0 5px;
        .secondLevelName {
          cursor: pointer;
        }
        .thirdLevelWrapper {
          .fourthLevelWrapper {
            position: relative;
            margin: 5px 0 0 10px;
            width: fit-content;
            cursor: pointer;
          }
          .fifthWrapper{
            .thirdLevelTitle{
              margin: 5px 0 0 10px;
            }
            .pageLink{
              margin: 5px 0 0 40px;
              z-index: 1;
              cursor: pointer;
              &:hover{
                color: var(--primary);
                text-shadow: 0 0 0.5px var(--primary);
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}












